{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>{{ course_name }} - 人脸签到</title>#}
{#    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">#}
{#    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>#}
{#    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>#}
{#    <link rel="stylesheet" href="../../static/css/my.css">#}
{#    <style>#}
{#        .div-a{ float:left;width:50%;border:1px solid white;text-align: center}#}
{#        .div-c{ float: left;width: 10%; border: 1px solid white}#}
{#        .div-b{ float:left;width:30%;border:1px solid white}#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#<header class="col-xs-12 navbar navbar-default" style="background: linear-gradient(to right, #cce2ff, #bef0ff);">#}
{#    <div class="navbar-header">#}
{#        <a class="navbar-brand" href="#">课程考勤</a>#}
{#    </div>#}
{#    <div class="rr">#}
{#        <ul class="nav navbar-nav">#}
{#            <li><a href="{{ url_for('teacher.home') }}">返回首页</a></li>#}
{#        </ul>#}
{#    </div>#}
{#</header>#}
{#<div class="div-a">#}
{#    <input type="image" src="{{ url_for('teacher.video_feed') }}" id="video" name="face">#}
{#</div>#}
{#<div class="div-c"></div>#}
{#<div class="div-b">#}
{#    <table>#}
{#        <h2>签到结果：</h2>#}
{#        <br><br>#}
{#        <h4 id="result"></h4>#}
{#        <br><br>#}
{#        <form action="{{ url_for('teacher.stop_records') }}" method="post">#}
{#            <input type="submit" class="btn btn-primary" value="停止签到">#}
{#        </form>#}
{#    </table>#}
{#</div>#}
{##}
{#<script>#}
{#    $("#canvas").width($("#video").width());#}
{#    $("#canvas").height($("#video").height());#}
{##}
{#    // 获取视频流并进行捕捉#}
{#    function getPic(){#}
{#        video = document.getElementById("video");#}
{#        canvas = document.getElementById("canvas");#}
{#        ctx = canvas.getContext("2d");#}
{#        ctx.drawImage(video, 0, 0, video.width, video.height);#}
{#    }#}
{##}
{#    window.onload = function () {#}
{#        getApi();#}
{#    };#}
{##}
{#    function getApi() {#}
{#        setTimeout(getApi, 1000);#}
{#        $.get("/teacher/now_attend", function (res) {#}
            {#var len = res.length - 1;#}
            {#$("#result").text(res[len]);#}
{#            var len = res.length;#}
{#            var lastTenRecords = res.slice(len - 10 < 0 ? 0 : len - 10); // 获取数组的最后十个元素，如果不够十个则返回所有元素#}
{#            var resultText = lastTenRecords.join(''); // 将数组元素连接成一个字符串，中间没有分隔符#}
{#            $("#result").text(resultText);#}
{#        });#}
{#    }#}
{##}
{#    function stop() {#}
{#        $.get("/teacher/stop_records");#}
{#    }#}
{#</script>#}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course_name }} - 签到</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/css/my.css">
    <style>
        .div-a{ float:left;width:50%;border:1px solid white;text-align: center}
        .div-c{ float: left;width: 10%; border: 1px solid white}
        .div-b{ float:left;width:30%;border:1px solid white}
    </style>
</head>
<body>
<header class="col-xs-12 navbar navbar-default" style="background: linear-gradient(to right, #cce2ff, #bef0ff);">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">课程考勤</a>
    </div>
    <div class="rr">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('teacher.home') }}">返回首页</a></li>
        </ul>
    </div>
</header>
<div class="div-a">
    <h2>签到结果：</h2>
    <h4 id="result"></h4>
</div>
<div class="div-c"></div>
<div class="div-b">
    <form action="{{ url_for('teacher.stop_records') }}" method="post">
        <input type="submit" class="btn btn-primary" value="停止签到">
    </form>
</div>

<script>
    window.onload = function () {
        getApi();
    };

    function getApi() {
        setTimeout(getApi, 1000);
        $.get("/teacher/now_attend", function (res) {
            var len = res.length;
            var lastTenRecords = res.slice(len - 10 < 0 ? 0 : len - 10); // 获取数组的最后十个元素，如果不够十个则返回所有元素
            var resultText = lastTenRecords.join('<br>'); // 将数组元素连接成一个字符串，用换行符分隔
            $("#result").html(resultText);
        });
    }
</script>
</body>
</html>